body {
  background-color: linen;
}

h1 {
  color: navy;
  margin-left: 20px;
  text-align: center; 
  text-shadow: 2px 2px 5px #6b5b95;
  font-size: 28pt
}

h2 {border-style: ridge; 
	background-color: rosybrown;
	color: papayawhip;
	text-align: center; 
	font-family: candara;
	font-size: 20pt
	
}

img {display: block;margin: auto;
}

p {text-indent: 0.5in; color:navy;
}

p,table {font-family: Verdana, sans-serif;
}
td {text-align: left
}

th {text-align: right
}

a {text-decoration: none;
}